page-pratica-braille {

    .ImagemExemplo{
       // max-width: 100%;
       // display: block;
       // position: relative;
      //  left: 50%;
      //  top: 35%;
      //  transform: translate(-50%, -50%);
      width: 49%;
      height: 220%;
      margin: 0px;
      float: left;
      height: 50%;
      border: 0px;
    }

}
