page-consulta-braille {

    

    .textoPalavra{
        text-align: center;
        font-size: 40px;
        position: fixed;
        font-family: 'Courier New';
        top: 60%;
        left: 0px;
        size: 100%;
        width: 100%;
    }
}
