<!--
  Generated template for the MaquinaBraillePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Máquina braille</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card class="caixaTexto">
    <ion-card-content>
      <div class="letras" *ngFor="let letras of palavra">{{letras}}</div>
    </ion-card-content>
  </ion-card>
  <ion-card class="caixaTexto">
    <ion-card-content>
      <img class="sinais" *ngFor="let sinal of sinais" src={{sinal}}>
    </ion-card-content>
  </ion-card>

  <div style="text-align: center">
    <div class="cell-braille " style="width: 40%;">
      <a id="c1p1" (click)="marcar('c1p1')" class="btn-large ponto-braille">1</a>
      <a id="c1p2" (click)="marcar('c1p2')" class="btn-large ponto-braille">2</a>
      <a id="c1p3" (click)="marcar('c1p3')" class="btn-large ponto-braille">3</a>
    </div>
    <div class="cell-braille " style="width: 40%; float: right;">
      <a id="c1p4" (click)="marcar('c1p4')" class="btn-large ponto-braille">4</a>
      <a id="c1p5" (click)="marcar('c1p5')" class="btn-large ponto-braille">5</a>
      <a id="c1p6" (click)="marcar('c1p6')" class="btn-large ponto-braille">6</a>
    </div>
    <button ion-button (click)="inserirLetra()" style="width: 18%;">OK</button>
    <button ion-button (click)="delete()" style="width: 18%;">DEL</button>
  </div>
</ion-content>